body{
    background: rgb(0, 255, 234);
}
img{
    border: 2px solid gray;
}
img:hover{
    border:2px solid black;
}
h2{
    color:rgb(23, 1, 83);
    font-size: 60px;
    margin-left: 135px;
    text-shadow:6px 6px 8px black;
}
ul{
    font-weight: bold;
}
h3{
    font-size: 45px;
    color: rgb(243, 149, 9);
    text-shadow: 3px 3px 4px black;
    margin-left: 45px;
}
div{
    margin-bottom: 100px;
}
li{
    margin-left: 30px;
}
span{
    margin-left: 300px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}